# ignore everything
*

!*.json
!*.md

!.gitignore

# except zsh startup scripts
!.zlogin
!.zprofile
!.zshenv
!.zshrc

# except `brew bundle` files in subdirectories
!Brewfile
!Brewfile.lock.json

!/.config/

!/.config/doom/

# except Doom configuration
!/.config/doom/**/*.el

!/.config/git/
!/.config/git/ignore
