# ignore everything
*

!*.json
!*.md
!*.nix
!.envrc
!*.yml
!*.yaml

!.gitignore

# except `brew bundle` files in subdirectories
!Brewfile
!Brewfile.lock.json

!/.github/
!/.github/workflows/

!/.config/

!/.config/doom/

# except Doom configuration
!/.config/doom/**/*.el

!/.config/git/
!/.config/git/ignore

!/.config/mise/
!/.config/mise/config.toml
!/.config/mise/settings.toml

!/.config/nix-darwin/
!/.config/nix-darwin/flake.nix
!/.config/nix-darwin/flake.lock

!/.config/powershell/
!/.config/powershell/Microsoft.PowerShell_profile.ps1

!/.config/python/
!/.config/python/pythonrc

!/.config/zsh/
!/.config/zsh/.zshenv
!/.config/zsh/.zprofile
!/.config/zsh/.zshrc
!/.config/zsh/.zlogin
!/.config/zsh/functions/
!/.config/zsh/functions/*
# Devenv
.devenv*
devenv.local.nix
!devenv.nix
!devenv.lock

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

!nickel.lock.ncl
!project.ncl
