# ignore everything
*

!*.json
!*.md
!*.nix
!.envrc
!*.yml
!*.yaml
.sem.yaml
.claude.json

!.gitignore

# except `brew bundle` files in subdirectories
!Brewfile
!Brewfile.lock.json

!/.github/
!/.github/workflows/

!/.config/

!/.config/home-manager/
!/.config/home-manager/flake.nix
!/.config/home-manager/flake.lock
!/.config/home-manager/home.nix

!/.config/home-manager/xdg-config/
!/.config/home-manager/xdg-config/ghostty/
!/.config/home-manager/xdg-config/ghostty/config

!/.config/home-manager/xdg-config/mise/
!/.config/home-manager/xdg-config/mise/config.toml
!/.config/home-manager/xdg-config/mise/settings.toml

!/.config/home-manager/xdg-config/nushell/
!/.config/home-manager/xdg-config/nushell/config.nu
!/.config/home-manager/xdg-config/nushell/nix.nu

!/.config/home-manager/xdg-config/powershell/
!/.config/home-manager/xdg-config/powershell/Microsoft.PowerShell_profile.ps1

!/.config/home-manager/xdg-config/zsh/
!/.config/home-manager/xdg-config/zsh/.zshenv
!/.config/home-manager/xdg-config/zsh/.zprofile
!/.config/home-manager/xdg-config/zsh/.zshrc
!/.config/home-manager/xdg-config/zsh/.zlogin
!/.config/home-manager/xdg-config/zsh/functions/
!/.config/home-manager/xdg-config/zsh/functions/*

!/.config/home-manager/xdg-config/python/
!/.config/home-manager/xdg-config/python/pythonrc

!/.config/home-manager/xdg-config/doom/
# except Doom configuration
!/.config/home-manager/xdg-config/doom/modules/
!/.config/home-manager/xdg-config/doom/modules/auth-source/
!/.config/home-manager/xdg-config/doom/modules/auth-source/gh/
!/.config/home-manager/xdg-config/doom/modules/auth-source/gh/*.el

!/.config/home-manager/xdg-config/git/
!/.config/home-manager/xdg-config/git/ignore

!/.config/home-manager/xdg-config/fish/
!/.config/home-manager/xdg-config/fish/config.fish
# Devenv
.devenv*
devenv.local.nix
!devenv.nix
!devenv.lock

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

!nickel.lock.ncl
!project.ncl
!flake.lock
